.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{:"data-toggle" => "collapse", :"data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => '/'} Trevor Whitney, Software Engineer
      .nav-collapse.collapse
        %ul.nav
          %li#about
            %a{:href => "/about"} About
          %li#ruby
            %a{:href => "/ruby"} Ruby
          %li#data_mining
            %a{:href => "/data_mining"} Data Mining
          %li#android
            %a{:href => "/android"} Android
          %li#embedded
            %a{:href => "/embedded_systems"} Embedded Systems
          %li#php
            %a{:href => "/php"} PHP
          %li#resume
            %a{:href => "/resume"} Resume