.section-intro
  .header
    %img{:src => '/images/android.png'}
    %h1 Android
  .body
    %p
      I have a little exposure to mobile application development, specifically on the Android platform. I took a class in graduate school on mobile application development using the Android platform. The class gave me a basic introduction to the platform, and led to the development of two complete Android applications.

.row.project-row
  .span6.project
    .header
      %h2
        %a{:href => "https://github.com/pyraz/csci498android"} Android Class
    .body
      %p
        The first of the applications I produced in the class was a tutorial application called LunchList. The tutorial for this application was in one of the texts we followed, Mark L. Murphy's
        %a{:href => "http://www.amazon.com/Android-Programming-Tutorials-3rd-Edition/dp/0981678041"} Android Programming Tutorials
        \. The code for this project, along with a few other bits of code, lives in my
        %a{:href => "https://github.com/pyraz/csci498android"} GitHub repository
        for the class.
  .span6.project
    .header
      %h2 SenseCheck
    .body
      %p
        The second application I am still in the process of developing. This application, my final project for the class, will be a tool for debugging wireless sensor networks. It will integreate with an IOIO board and an XBee radio, and is designed to help engineers more easily configure and debug a wireless network using the 802.15.4 protocol while in the field. This program is still under development, so please check back for updates to this section. The motivation for this project was my masters research, which you can read more about in the
        %a{:href => "/embedded_systems"} Embedded Systems
        section.