.section-intro
  .header
    %img{:src => 'images/DataTNG.jpg'}
    %h1 Data Mining
  .body
    %p
      This portfolio is a summary of the work I've done in the field of data mining. It is the result of a graduate course in Data Mining I took at the Colorado School of Mines. All of the work from the semester is available in this
      %a{:href => "https://github.com/pyraz/csci568"} github repository
      , so check that out for a more in depth look at my implementation of the algorithms discussed in thsi portfolio. The first 6 items in this portfolio are academic explorations of various topics related to data mining. The last three sections are applications of this knowledge.

.row
  .span12
    %ol.toc
    %li
      %a{:href => "/data_mining/data"} Data &amp; Data Quality
    %li
      %a{:href => "/data_mining/similarity"} Similarity Metrics
    %li
      %a{:href => "/data_mining/clustering"} Cluster Analysis
    %li
      %a{:href => "/data_mining/classification"} Classification
    %li
      %a{:href => "/data_mining/association_analysis"} Association Analysis
    %li
      %a{:href => "/data_mining/anomaly_detection"} Anomaly Detection
    %li
      %a{:href => "/data_mining/badges"} Application: The Badges Problem
    %li
      %a{:href => "/data_mining/mushrooms"} Application: The Classic Mushroom Dataset
    %li
      %a{:href => "/data_mining/2011kddcup"} Application: 2011 KDD Cup Challenge, Track 1