- content_for :title do
  %title Trevor Whitney > PHP
.section-intro
  .header
    %img{:src => 'images/php.png'}
    %h1 PHP
  .body
    %p
      Before going back to graduate school, I started doing a little freelance web development in PHP. I mainly worked with the Magento and Drupal platforms. Below is a sample of some my work that's still in production.
.row.project-row
  .span6.project
    .header
      %h2 Magento
    .body
      %p
        Magento is a great eCommerce platform, and was what I used for any eCommerce project I had. One thing I really like about Magento is the vibrant community. As a result, it was easy to find contractors who could take over managing and developing the sites after I went back to school. Here are a couple sites I developed using Magento:
        %h4
          %a{:href => "http://www.nowyouknowmedia.com/"} Know You Know Media
        %h4
          %a{:href => "http://store.otherpower.com/"} Other Power
  .span6.project
    .header
      %h2 Drupal
    .body
      %p
        I am currently working on a CMS for the
        %a{:href => "http://castem.mines.edu/new/index2.html"} CA-STEM 
        program at the Colorado School of Mines. I am using Drupal to provide a site that will be a complete overhaul of their public-facing and internal sites. The function of this site will be to provide information about the program as well as easy access to lesson-plans uploaded by the fellows. As soon as the site is launched, I will provide a link to it here.