body {
  margin-bottom: 30px;
}
body .main-content {
  padding-top: 50px;
}

.navbar-inverse .navbar-inner {
  background-image: url("/images/speckles.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #111111));
  background-image: url("/images/speckles.png"), -webkit-linear-gradient(top, #222222, #111111);
  background-image: url("/images/speckles.png"), -moz-linear-gradient(top, #222222, #111111);
  background-image: url("/images/speckles.png"), -o-linear-gradient(top, #222222, #111111);
  background-image: url("/images/speckles.png"), -ms-linear-gradient(top, #222222, #111111);
  background-image: url("/images/speckles.png"), linear-gradient(top, #222222, #111111);
}
.navbar-inverse .navbar-inner a {
  font-size: 16px;
}
.navbar-inverse .navbar-inner a.brand {
  font-size: 24px;
}

.section-intro {
  margin-bottom: 12px;
}
.section-intro .header img {
  float: left;
  height: 64px;
}
.section-intro .header h1 {
  float: left;
  line-height: 64px;
  font-size: 40px;
  margin: 0;
  padding: 0;
  margin-left: 7px;
}
.section-intro .body {
  padding-top: 10px;
  float: none;
  clear: both;
}

.project {
  margin-bottom: 10px;
}
.project .header {
  background-image: url("/images/speckles.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #111111));
  background-image: url("/images/speckles.png"), -webkit-linear-gradient(top, #222222, #111111);
  background-image: url("/images/speckles.png"), -moz-linear-gradient(top, #222222, #111111);
  background-image: url("/images/speckles.png"), -o-linear-gradient(top, #222222, #111111);
  background-image: url("/images/speckles.png"), -ms-linear-gradient(top, #222222, #111111);
  background-image: url("/images/speckles.png"), linear-gradient(top, #222222, #111111);
  height: 30px;
  padding: 3px 2px;
  box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.5) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.project .header a {
  text-decoration: none;
  color: white;
}
.project .header a:hover {
  text-decoration: underline;
}
.project h2 {
  line-height: 1em;
  margin: 5px 0 0 3px;
  color: white;
  font-size: 20px;
}
.project .body {
  margin: 0 0 0 0;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(34, 34, 34, 0.4);
  border-top: none;
}
.project .body p {
  margin: 0px 5px 3px 5px;
  padding-top: 3px;
}

.figure {
  margin-bottom: 7px;
}

.equation {
  text-align: center;
  font-size: 16px;
}

ol.toc {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ol.toc li a {
  font-size: 1.2em;
  line-height: 2em;
  text-decoration: none;
}
ol.toc li a:hover {
  text-decoration: underline;
}

.portrait {
  width: 250px;
  margin: 0 auto 10px;
}
.portrait img {
  width: 250px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #222222;
}

.contact {
  margin: 10px auto 120px;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}
.contact a {
  line-height: 3.2em;
}
